body{
    background-color: azure;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    border-radius: 5rem;


}
.top{
    align-items: center; 
    align-self: center;
    width: 40rem;
    height: 85vh;
    margin-left: 25rem;
    background-color:aquamarine;
}
.top h1{
    margin-left: 10rem ; padding: 2rem;
}
.top form {
    margin-left:5rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.top .left{
    font-weight: bolder;
}
.top .right:hover{
transform: scale(2);
}